@CHARSET "UTF-8";

.toolbar {
	margin-bottom: 7px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.userBarPanelGrid {
	width: 100% !important;
}

.userBarRow {
	background: inherit;
}

.userBarCell {
	padding: 0px !important;
	width: 33.3333333% !important;
}

.noFloat {
	float: none !important;
}

/*
* Font-Awesome fix
*/
.ui-widget .ui-icon.fa, .ui-icon.fa {
	background-image: none;
	text-indent: 0px;
	background-repeat: no-repeat;
	display: block;
	overflow: visible;
	text-indent: 0px;
}

.ui-panelgrid-even, .ui-panelgrid-odd, .ui-panelgrid-cell {
	border: 0 none !important;
}

.ui-messages-info {
	background-color: #9ccc65 !important;
	color: #fff !important;
	border-color: #9ccc65 !important;
}

.ui-messages-warn {
	background-color: #ffa726 !important;
	color: #fff !important;
	border-color: #ffa726 !important;
}

.ui-messages-error {
	background-color: #ef5350 !important;
	color: #fff !important;
	border-color: #ef5350 !important;
}

.ui-messages-fatal {
	background-color: #ef5350 !important;
	color: #fff !important;
	border-color: #ef5350 !important;
}

.checkbox {
	margin-right: 4px;
}

.ui-splitbutton-menubutton{
	right: initial!important;
}